.m-table {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    font-size: 1.5rem;

    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 0.5rem;
                vertical-align: middle;
                line-height: 1.5rem;
                border: solid 1px #ddd;
                text-align: left;
            }
        }
    }

    // Bottom align for column headings
    > thead > tr > th {
        border: 0;
        vertical-align: bottom;
        cursor: pointer;
    }

    @at-root #{&}--bordered {
        border: solid 1px #ddd;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border: solid 1px #ddd;
                }
            }
        }
    }
}
